@import "../../globalVariables";
.createAccount {
  margin-top: 20px;
  color: $red;

  h1 {
    text-align: center;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  margin-bottom: 20px;
  label {
    text-align: start;
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    caret-color: $red;
    color: $red;
    font-size: 14px;
    outline: none;
    &:focus {
      border: 1px solid $red;
    }
  }

  button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid $red;
    background-color: $red;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    &:focus {
      border: 1px solid $red;
    }
  }
}

.link {
  display: block;
  margin: 10px 0;

  color: $red;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
}
